/* TYPOGRAPHY */

body {
  font-size: 87.5%;
  /* 14px */
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  line-height: 1.4;
  background-color: black;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}

@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}

/* HEADINGS */
/*
  Based on a Traditional Typographic Scale
  48, 36, 24, 21, 18, 16
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0;
}

h1 {
  font-size: 3em;
  /* 48px */
  line-height: 1;
}

h2 {
  font-size: 2.50em;
  /* 36px */
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  /* 24px */
  line-height: 1.2;
}

h4 {
  font-size: 1.3125em;
  /* 21px */
  line-height: 1.3;
}

h5 {
  font-size: 1.125em;
  /* 18px */
  line-height: 1.4;
}

h5 {
  font-size: 1em;
  /* 16px */
  line-height: 1.5;
}

/* PARAGRAPHS */
.about p,
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

.hover-content h3 {
  color: #101010;
}

/* MEDIA */

img {
  max-width: 100%;
  height: auto;
}

/* SITE NAV */

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.site-nav a {
  padding: 1em;
  display: block;
  text-decoration: none;
}

.site-nav a:hover {
  color: #beb3ae;
}

.site-nav .menu-button {
  display: none;
}

/* TOGGLE NAV */

@media (min-width: 767px) {
  .toggle-nav .site-id {
    position: absolute;
    color: #fff;
  }

  /* MENU */

  .site-header .site-nav .menu-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.7em;
    position: relative;
    z-index: 20;
  }

  .site-header .site-nav .menu-button svg {
    display: block;
  }

  .site-header .site-nav .menu-button svg rect {
    fill: white;
  }

  .site-header .site-nav .menu-button svg.simple-x-animation rect {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-top {
    -webkit-transform: translate(-5px, 9px) rotate(30deg);
    transform: translate(-5px, 9px) rotate(30deg);
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-mid {
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-bot {
    -webkit-transform: translate(-5px, -9px) rotate(-30deg);
    transform: translate(-5px, -9px) rotate(-30deg);
  }

  .site-header .site-nav .menu-button svg.squish-x-animation rect {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  .site-header .site-nav .menu-button svg.squish-x-animation #menubar-top {
    -webkit-animation-name: squish-x-top-close;
    animation-name: squish-x-top-close;
  }

  .site-header .site-nav .menu-button svg.squish-x-animation #menubar-bot {
    -webkit-animation-name: squish-x-bot-close;
    animation-name: squish-x-bot-close;
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-top {
    -webkit-animation-name: squish-x-top-open;
    animation-name: squish-x-top-open;
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-mid {
    opacity: 0;
    -webkit-transition: all 0s linear 0.25s;
    transition: all 0s linear 0.25s;
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-bot {
    -webkit-animation-name: squish-x-bot-open;
    animation-name: squish-x-bot-open;
  }

  @-webkit-keyframes squish-x-top-open {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }

    100% {
      -webkit-transform: translate(-5px, 9px) rotate(30deg);
      transform: translate(-5px, 9px) rotate(30deg);
    }
  }

  @keyframes squish-x-top-open {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }

    100% {
      -webkit-transform: translate(-5px, 9px) rotate(30deg);
      transform: translate(-5px, 9px) rotate(30deg);
    }
  }

  @-webkit-keyframes squish-x-bot-open {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    50% {
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    100% {
      -webkit-transform: translate(-5px, -9px) rotate(-30deg);
      transform: translate(-5px, -9px) rotate(-30deg);
    }
  }

  @keyframes squish-x-bot-open {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    50% {
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    100% {
      -webkit-transform: translate(-5px, -9px) rotate(-30deg);
      transform: translate(-5px, -9px) rotate(-30deg);
    }
  }

  @-webkit-keyframes squish-x-top-close {
    0% {
      -webkit-transform: translate(-5px, 9px) rotate(30deg);
      transform: translate(-5px, 9px) rotate(30deg);
    }

    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes squish-x-top-close {
    0% {
      -webkit-transform: translate(-5px, 9px) rotate(30deg);
      transform: translate(-5px, 9px) rotate(30deg);
    }

    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @-webkit-keyframes squish-x-bot-close {
    0% {
      -webkit-transform: translate(-5px, -9px) rotate(-30deg);
      transform: translate(-5px, -9px) rotate(-30deg);
    }

    50% {
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes squish-x-bot-close {
    0% {
      -webkit-transform: translate(-5px, -9px) rotate(-30deg);
      transform: translate(-5px, -9px) rotate(-30deg);
    }

    50% {
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  /* HERO SECTION */

  .hero {
    min-height: 100vh;
    width: 100%;
    min-width: 100vw;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
  }

  hr {
    width: 85em;
  }

  /* SITE STRUCTURE */

  /* SITE HEADER */

  header.site-header h1 {
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    left: 1.5em;
    bottom: 0;
    margin: 0;
    padding-bottom: 2.5em;
  }

  /* LOGO AREA */

  .site-id h1 {
    font-size: 1em;
    margin: 0;
  }

  .site-id a {
    color: #ffffff;
    font-family: Poppins;
    text-decoration: none;
    padding: 1em;
    display: flex;
  }

  /* SITE NAV */

  .site-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .site-nav a {
    color: #ffffff;
    font-family: Poppins;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
  }

  /* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
  @media (min-width: 768px) {
    .site-header .container {
      display: flex;
      justify-content: space-between;
    }
  }

  /* SITE HERO */

  .site-hero-text {
    padding-left: 1em;
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    z-index: 2;
  }

  .site-hero-inner-text {
    display: inline-block;
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes outer-left {
    from {
      transform: translateX(50%);
    }

    to {
      transform: none;
    }
  }

  @keyframes inner-left {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: none;
    }
  }

  .site-hero-inner-text {
    display: inline-block;
    animation: inner-left 1s 1s ease both;
  }

  .site-hero-text {
    animation: outer-left 1s 1s ease both;
  }

  /* PROJECT SECTION */
  .img-container {
    padding: 0 100px;
    text-align: center;
  }

  #projects {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    padding: 2em;
  }

  .project1 {
    background: url("https://www.cassandraneri.design/img/booktrilogy.webp") no-repeat center;
  }

  .project2 {
    background: url("https://www.cassandraneri.design/img/Cass_Neri_Cover.jpg") no-repeat center;
    margin: 0 1em;
  }

  .project3 {
    background: url("https://www.cassandraneri.design/img/Cass_Neri_Stamps.jpg") no-repeat center;
    margin-right: 1em;
  }

  .project4 {
    background: url("https://www.cassandraneri.design/img/Canvas-Tote-Bag-MockUp.jpg") no-repeat center;
  }

  .projects__wrapper {
    padding: 120px 0 60px;
    background: transparent;
    transition: all ease 0.5s;
    color: transparent;
  }

  .projects__wrapper:hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }


  /* MELISSA'S CODE */

  .container {
    margin: 0 auto;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {

    .container {
      margin: 0 auto;
      background-color: pink;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 6vw);
      grid-gap: 35px;
      width: 100%;
    }

    .item_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .item1 {
      grid-column-start: 8;
      grid-column-end: 13;
      grid-row-start: 5;
      grid-row-end: 10;
      z-index: 5;
    }

    .item2 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    .item3 {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 5;
    }

    .item4 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 4;
      grid-row-end: 8;
    }

    .item5 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 8;
      grid-row-end: 11;
    }

    .item6 {
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 8;
      grid-row-end: 13;
    }
  }

  /* ON HOVER BLOCKS */
  .hover-block {
    position: relative;
  }

  .hover-block:hover .hover-content {
    display: block;
  }

  .hover-block .hover-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    padding: 2em;
    text-align: center;
  }

  .hover-block img {
    display: block;
  }

  li {
    list-style: none;
  }


  /* ABOUT SECTION */

  #about {
    justify-content: center;
    padding: 10em;
  }

  .aboutme-img {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
  }

  /* LAYOUT */

  /* SIMPLE RESET */
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }


  /* MEDIA QUERIES */

  @media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
  }

  @media (min-width: 1050px) {
    body {
      font-size: 100%;
      /* 16px */
    }
  }

  @media (min-width: 1250px) {
    body {
      font-size: 112.5%;
      /* 18px */
    }

    .container {
      max-width: 1200px;
    }
  }

  /* ANIMATED BUTTON */

  .overlay-2 {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .overlay p {
    font-size: 250px;
    font-weight: 800;
  }

  .screen {
    color: #101010;
    font-family: Poppins;
    position: absolute;
    top: 12%;
    left: 50%;
  }

  .custom-button {
    display: block;
    padding: 24px 48px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
  }

  .custom-button:hover {
    content: "";
    color: #101010;
    cursor: crosshair;
    border: 2px solid #101010;
    background-color: #ffffff;
    height: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
    top: 100%;
  }

  .custom-button:hover:before {
    top: 0;
  }

  .custom-button:hover:after .site-nav a {
    color: #101010;
    cursor: crosshair;
    border: 2px solid #101010;
  }

  /* SITE NAV */

  .site-footer {
    padding: 6em;
    background: #d4c9c3;
  }

  .site-footer a {
    color: #101010;
    text-align: center;
    text-decoration: none;
    list-style: none;
    margin: 0;
  }

  .site-footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  main {
    view-timeline-name: --main;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    height: 100vh;
  }

  :is(h1) {
    color: #fff;
    text-transform: uppercase;
    font-size: 10rem;
  }

  .snapper {
    min-height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
  }

  /* .scroller {
  --radius: -2.25rem;
  text-transform: uppercase;
  color: var(--gray-9);
  font-weight: bold;
  position: fixed;
  top: 1rem;
  right: 2rem;
  aspect-ratio: 1;
  width: 6rem;
  animation-timeline: --progress;
  -webkit-animation: progress both linear;
  animation: progress both linear;
  -webkit-animation-delay: enter -500%;
  animation-delay: enter -500%;
  animation-end-delay: enter 100%;
}

@-webkit-keyframes progress {
  to {
    transform: rotate(360deg);
  }
}

@keyframes progress {
  to {
    transform: rotate(360deg);
  }
}

.scroller:before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  border-radius: 50%;
  border: 1.5rem solid white;
}

.scroller .char {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(calc((360 / var(--char-total)) * var(--char-index) * 1deg)) translateY(var(--radius));
} */

  section.goverticalagain {
    view-timeline-name: --progress;
    border: 1px solid green;
  }

  @keyframes progress {
    to {
      rotate: 360deg;
    }
  }

  /* section:last-of-type img {
  display: grid;
  justify-content: center;
  align-content: center;
} */

  /* MOUSE SCROLL ANIMATION*/
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .mouse {
    position: absolute;
    left: 95%;
    bottom: 90px;
    width: 28px;
    height: 90px;
    transform: translateX(-50%);
  }

  .mouse:before,
  .mouse:after {
    content: "";
    position: absolute;
    left: 50%;
  }

  .mouse:before {
    top: 8px;
    width: 4px;
    height: 10px;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 2px;
    -webkit-animation: scrolling 2s infinite ease-in-out;
    animation: scrolling 2s infinite ease-in-out;
  }

  .mouse:after {
    top: 0;
    left: 0;
    width: 28px;
    height: 48px;
    border-radius: 16px;
    border: 2px solid #fff;
  }

  @-webkit-keyframes scrolling {
    0% {
      opacity: 0;
      top: 8px;
    }

    10% {
      opacity: 0;
      top: 8px;
    }

    20% {
      opacity: 1;
      top: 8px;
    }

    50% {
      opacity: 1;
      top: 14px;
    }

    60% {
      opacity: 0;
      top: 14px;
    }

    100% {
      opacity: 0;
      top: 14px;
    }
  }

  @keyframes scrolling {
    0% {
      opacity: 0;
      top: 8px;
    }

    10% {
      opacity: 0;
      top: 8px;
    }

    20% {
      opacity: 1;
      top: 8px;
    }

    50% {
      opacity: 1;
      top: 14px;
    }

    60% {
      opacity: 0;
      top: 14px;
    }

    100% {
      opacity: 0;
      top: 14px;
    }
  }

  .mouse .arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
    width: 8px;
    height: 8px;
  }

  .mouse .arrow:nth-child(1) {
    top: 56px;
    -webkit-animation: arrowone 2s infinite;
    animation: arrowone 2s infinite;
  }

  .mouse .arrow:nth-child(2) {
    top: 68px;
    -webkit-animation: arrowtwo 2s infinite;
    animation: arrowtwo 2s infinite;
  }

  .mouse .arrow:nth-child(3) {
    top: 80px;
    -webkit-animation: arrowthree 2s infinite;
    animation: arrowthree 2s infinite;
  }

  @-webkit-keyframes arrowone {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    65% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes arrowone {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    65% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrowtwo {
    0% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes arrowtwo {
    0% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrowthree {
    0% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    85% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes arrowthree {
    0% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    85% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  /* ROTATING TEXT */

  .still-text {
    color: #fff;
    font-family: Playfair Display;
    font-size: 30px;
  }

  .texts-container {
    display: inline-block;
    height: 30px;
    overflow: hidden;
    color: #d4c9c3;
  }

  .texts-container span {
    display: block;
    -webkit-animation: moveUp 8s infinite;
    animation: moveUp 8s infinite;
  }

  /* @-webkit-keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-26%);
  }

  50% {
    transform: translateY(-51%);
  }

  75% {
    transform: translateY(-76%);
  }

  100% {
    transform: translateY(0);
  }
} */

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-28%);
    }

    50% {
      transform: translateY(-52%);
    }

    75% {
      transform: translateY(-78%);
    }

    100% {
      transform: translateY(0);
    }
  }

  /* SEMANTIC GRID SYSTEM */

  .row>.column {
    margin-bottom: 4%;
  }

  @media (min-width: 768px) {

    .row {
      display: flex;
      justify-content: space-between;
      margin-left: -2%;
      margin-right: -2%;
    }

    .row>.column {
      flex-grow: 1;
      margin-left: 2%;
      margin-right: 2%;
    }

    .row>.column.one-half {
      max-width: 46%;
    }

    .row>.column.one-third {
      max-width: 29.3333%;
    }

    .row>.column.two-thirds {
      max-width: 62.6666%;
    }

    .row>.column.one-fourth {
      max-width: 21%;
    }

    .row>.column.centered {
      margin-left: auto;
      margin-right: auto;
    }

  }

  /* a:focus {
    outline: 2px dashed white;
  } */
}