/* TYPOGRAPHY */

body {
  font-size: 87.5%;
  /* 14px */
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  line-height: 1.4;
  background-color: #fff5ee;
  position: relative;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}

@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}

@font-face {
  font-family: 'milyunaregular';
  src: url('/fonts/milyuna-regular-webfont.woff') format('woff'),
    url('/fonts/milyuna-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'milyunaitalic';
  src: url('/fonts/milyuna_italic-webfont.woff') format('woff'),
    url('/fonts/milyuna_italic-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'indieflowerregular';
  src: url('/fonts/indieflower-regular-webfont.woff') format('woff'),
    url('/fonts/indieflower-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* HEADINGS */
/*
  Based on a Traditional Typographic Scale
  48, 36, 24, 21, 18, 16
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0;
}

h1 {
  font-family: 'milyunaregular';
  font-size: 4em;
  font-weight: normal;
  /* 48px */
  line-height: 1;
}

h2 {
  font-family: 'milyunaregular';
  font-size: 2.50em;
  font-weight: normal;
  /* 36px */
  line-height: 1.1;
}

h2 a {
  text-decoration: none;
  color: white;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  /* 24px */
  line-height: 1.2;
}

h4 {
  font-size: 1.3125em;
  font-weight: normal;
  /* 21px */
  line-height: 1.3;
}

h5 {
  font-size: 1em;
  font-weight: 200;
  /* 16px */
  line-height: 1.5;
  max-width: 45em;
  color: #95827c;
  padding-bottom: .5em;
}

/* PARAGRAPHS */

p,
h1,
h2,
h3,
h4,
h5 {
  color: #95827c;
}

.hover-content p {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
}

h3.subheader {
  font-family: 'milyunaitalic';
  font-size: 3em;
  max-width: 45em;
  font-style: normal;
  font-weight: normal;
}

.hover-content h3 {
  color: #95827c;
}

.hover-content h2 {
  color: white;
  font-size: 5em;
}

.column.two-thirds p {
  max-width: 55em;
}

#section1 p,
#section2 p,
#section3 p,
#section4 p,
#section5 p {
  max-width: 50em;
}

/* MEDIA */

img {
  max-width: 100%;
  height: auto;
}

/* SITE NAV */

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.site-nav a {
  padding: 1em;
  display: block;
  text-decoration: none;
}

.site-nav a:hover {
  color: #e7b2a1;
}

.site-nav .menu-button {
  display: none;
}

/* TOGGLE NAV */

@media (min-width: 767px) {
  .toggle-nav .site-id {
    position: absolute;
    color: #95827c;
  }

  /* MENU */

  .site-header .site-nav .menu-button {
    background-color: transparent;
    border: none;
    color: #95827c;
    padding: 0.7em;
    position: relative;
    z-index: 20;
  }

  .site-header .site-nav .menu-button svg {
    display: block;
  }

  .site-header .site-nav .menu-button svg rect {
    fill: #95827c;
  }

  .site-header .site-nav .menu-button svg.simple-x-animation rect {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-top {
    -webkit-transform: translate(-5px, 9px) rotate(30deg);
    transform: translate(-5px, 9px) rotate(30deg);
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-mid {
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-bot {
    -webkit-transform: translate(-5px, -9px) rotate(-30deg);
    transform: translate(-5px, -9px) rotate(-30deg);
  }

  .site-header .site-nav .menu-button svg.squish-x-animation rect {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  .site-header .site-nav .menu-button svg.squish-x-animation #menubar-top {
    -webkit-animation-name: squish-x-top-close;
    animation-name: squish-x-top-close;
  }

  .site-header .site-nav .menu-button svg.squish-x-animation #menubar-bot {
    -webkit-animation-name: squish-x-bot-close;
    animation-name: squish-x-bot-close;
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-top {
    -webkit-animation-name: squish-x-top-open;
    animation-name: squish-x-top-open;
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-mid {
    opacity: 0;
    -webkit-transition: all 0s linear 0.25s;
    transition: all 0s linear 0.25s;
  }

  .site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-bot {
    -webkit-animation-name: squish-x-bot-open;
    animation-name: squish-x-bot-open;
  }

  @-webkit-keyframes squish-x-top-open {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }

    100% {
      -webkit-transform: translate(-5px, 9px) rotate(30deg);
      transform: translate(-5px, 9px) rotate(30deg);
    }
  }

  @keyframes squish-x-top-open {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }

    100% {
      -webkit-transform: translate(-5px, 9px) rotate(30deg);
      transform: translate(-5px, 9px) rotate(30deg);
    }
  }

  @-webkit-keyframes squish-x-bot-open {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    50% {
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    100% {
      -webkit-transform: translate(-5px, -9px) rotate(-30deg);
      transform: translate(-5px, -9px) rotate(-30deg);
    }
  }

  @keyframes squish-x-bot-open {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    50% {
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    100% {
      -webkit-transform: translate(-5px, -9px) rotate(-30deg);
      transform: translate(-5px, -9px) rotate(-30deg);
    }
  }

  @-webkit-keyframes squish-x-top-close {
    0% {
      -webkit-transform: translate(-5px, 9px) rotate(30deg);
      transform: translate(-5px, 9px) rotate(30deg);
    }

    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes squish-x-top-close {
    0% {
      -webkit-transform: translate(-5px, 9px) rotate(30deg);
      transform: translate(-5px, 9px) rotate(30deg);
    }

    50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @-webkit-keyframes squish-x-bot-close {
    0% {
      -webkit-transform: translate(-5px, -9px) rotate(-30deg);
      transform: translate(-5px, -9px) rotate(-30deg);
    }

    50% {
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes squish-x-bot-close {
    0% {
      -webkit-transform: translate(-5px, -9px) rotate(-30deg);
      transform: translate(-5px, -9px) rotate(-30deg);
    }

    50% {
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  /* HERO SECTION */

  .hero {
    position: relative;
    overflow-x: hidden;
  }

  /* SITE STRUCTURE */

  /* SITE HEADER */

  header.site-header h1 {
    position: absolute;
    top: 0;
    margin: 0;
    /* padding: 1em 0 5em; */
  }

  /* LOGO AREA */

  .site-id h1 {
    font-size: 1em;
    margin: 0;
  }

  .site-id a {
    color: #95827c;
    font-family: 'milyunaitalic';
    font-size: larger;
    text-decoration: none;
    padding: 1em;
    display: flex;
  }

  /* SITE NAV */

  .site-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .site-nav a {
    color: #95827c;
    font-family: Poppins;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
  }

  /* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
  @media (min-width: 768px) {
    .site-header .container {
      display: flex;
      justify-content: space-between;
    }
  }

  /* SITE HERO */

  .site-hero-text {
    padding-left: 1em;
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    z-index: 2;
  }

  .site-hero-inner-text {
    display: inline-block;
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes outer-left {
    from {
      transform: translateX(50%);
    }

    to {
      transform: none;
    }
  }

  @keyframes inner-left {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: none;
    }
  }

  .site-hero-inner-text {
    display: inline-block;
    animation: inner-left 1s 1s ease both;
  }

  .site-hero-text {
    animation: outer-left 1s 1s ease both;
  }

  /* INTRO SECTION */

  #intro {
    justify-content: center;
    padding: 0 20em;
  }

  .intro-img {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
  }

  /* PROJECT SECTION */
  .img-container {
    padding: 0 100px;
    text-align: center;
  }

  #projects {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    padding: 2em;
  }

  .project1 {
    background: url("https://www.cassandraneri.design/img/booktrilogy.webp") no-repeat center;
  }

  .project2 {
    background: url("https://www.cassandraneri.design/img/Cass_Neri_Cover.jpg") no-repeat center;
    margin: 0 1em;
  }

  .project3 {
    background: url("https://www.cassandraneri.design/img/Cass_Neri_Stamps.jpg") no-repeat center;
    margin-right: 1em;
  }

  .project4 {
    background: url("https://www.cassandraneri.design/img/Canvas-Tote-Bag-MockUp.jpg") no-repeat center;
  }

  .projects__wrapper {
    padding: 120px 0 60px;
    background: transparent;
    transition: all ease 0.5s;
    color: transparent;
  }

  .projects__wrapper:hover {
    background: rgba(0, 0, 0, 1);
    color: #95827c;
  }

  /* SEMANTIC GRID */

    .centered { justify-content: center; }
    .swapped { flex-direction: row-reverse; }
    .stacked { flex-direction: column; }
    .align-top { align-items: flex-start; }


/* THUMBGRID */
.thumbgrid {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.subpage-thumbgrid {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width:768px) {
  .thumbgrid a {
    width: 40%;
  }
}

.thumbgrid,
.subpage-thumbgrid a img {
  filter: brightness(1.05);
  transition: all ease-in-out 0.2s;
  border: .5px solid rgba(255, 255, 255, 0);
}

.thumbgrid a:hover img {
  filter: brightness(1);
  border: .5px solid rgba(0, 0, 0, .3);
}

  /* MELISSA'S CODE */

  .container {
    margin: 0 auto;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {

    .container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 4em;
    }    

    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(8, 4vw);
      grid-gap: 35px;
      padding-bottom: 2em;
      width: 100%;
    }

    .item_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .item1 {
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 9;
      z-index: 5;
    }

    .item2 {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 5;
    }

    .item3 {
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 5;
    }

    .item4 {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 5;
      grid-row-end: 9;
    }

    .item5 {
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 5;
    }

    .item6 {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 5;
    }
  }

  /* ON HOVER BLOCKS */
  .hover-block {
    position: relative;
    overflow: hidden;
  }

  .hover-block:hover .hover-content {
    display: block;
    background-color: rgba(0, 0, 0, 0.472);
  }

  .hover-block .hover-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    width: 100%;
    padding: 3em;
  }

  .hover-block img {
    /* display: block; */
    transition: transform .3s ease;
  }

  .hover-block:hover img {
    animation: dimAnim linear .2s;
    animation-fill-mode: forwards;
    transform: scale(1.05);
  }

  @keyframes dimAnim {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 100;
    }
  }

  li {
    list-style: none;
  }

  /* ABOUT SECTION */

  #about {
    justify-content: center;
    padding: 0 20em;
  }

  #about img {
    width: 100%;
    height: 32em;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
  }

  /* LAYOUT */

  /* SIMPLE RESET */
  * {
    box-sizing: border-box;
  }

  /* MEDIA QUERIES */

  @media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
  }

  @media (min-width: 1050px) {
    body {
      font-size: 100%;
      /* 16px */
    }
  }

  @media (min-width: 1250px) {
    body {
      font-size: 112.5%;
      /* 18px */
    }

    .container {
      max-width: 1700px;
    }
  }

  /* ANIMATED BUTTON */

  .overlay-2 {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .overlay p {
    font-size: 250px;
    font-weight: 800;
  }

  .screen {
    color: #95827c;
    font-family: Poppins, sans-serif;
    position: absolute;
    top: 12%;
    left: 50%;
  }

  .custom-button {
    padding: 24px 48px;
    font-family: 'milyunaregular';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #95827c;
    border: 2px solid #95827c;
    text-transform: lowercase;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.8s ease-out;
    margin: 0 auto;
  }

  .custom-button:hover {
    content: "";
    color: #95827c;
    cursor: pointer;
    border: 2px solid #95827c;
    background-color: #e7b2a1;
    height: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
    top: 100%;
  }

  .custom-button:hover:before {
    top: 0;
  }

  .custom-button:hover:after .site-nav a {
    color: #101010;
    cursor: pointer;
    border: 2px solid #101010;
  }

  .mTop {
    margin-top: 3em;
    margin-left: 0;
  }

  /* SITE NAV */

  .site-footer {
    padding: 6em;
    background: #95827c;
  }

  .site-footer a {
    color: #fff5ee;
    text-align: center;
    text-decoration: none;
    list-style: none;
    margin: 0;
  }

  .site-footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  :is(h1) {
    color: #95827c;
    font-size: 10rem;
  }

  .snapper {
    min-height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
  }

/* SOCIAL MEDIA */

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  color: #95827c;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-family: 'milyunaregular';
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: -3px;
  left: 50%;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  color: #95827c;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  color: #95827c;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  color: #95827c;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  color: #95827c;
}

.social-icons {
  display: flex;
}

.wrapper {
  padding-bottom: 2em;
}

.icon-hover {
  width: 100%;
  display: inline-block;
  position: relative;
}

  /* MOUSE SCROLL ANIMATION*/
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .mouse {
    position: absolute;
    left: 95%;
    bottom: 90px;
    width: 28px;
    height: 90px;
    transform: translateX(-50%);
  }

  .mouse:before,
  .mouse:after {
    content: "";
    position: absolute;
    left: 50%;
  }

  .mouse:before {
    top: 8px;
    width: 4px;
    height: 10px;
    transform: translateX(-50%);
    background: #95827c;
    border-radius: 2px;
    -webkit-animation: scrolling 2s infinite ease-in-out;
    animation: scrolling 2s infinite ease-in-out;
  }

  .mouse:after {
    top: 0;
    left: 0;
    width: 28px;
    height: 48px;
    border-radius: 16px;
    border: 2px solid #95827c;
  }

  @-webkit-keyframes scrolling {
    0% {
      opacity: 0;
      top: 8px;
    }

    10% {
      opacity: 0;
      top: 8px;
    }

    20% {
      opacity: 1;
      top: 8px;
    }

    50% {
      opacity: 1;
      top: 14px;
    }

    60% {
      opacity: 0;
      top: 14px;
    }

    100% {
      opacity: 0;
      top: 14px;
    }
  }

  @keyframes scrolling {
    0% {
      opacity: 0;
      top: 8px;
    }

    10% {
      opacity: 0;
      top: 8px;
    }

    20% {
      opacity: 1;
      top: 8px;
    }

    50% {
      opacity: 1;
      top: 14px;
    }

    60% {
      opacity: 0;
      top: 14px;
    }

    100% {
      opacity: 0;
      top: 14px;
    }
  }

  .mouse .arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: solid #95827c;
    border-width: 0 2px 2px 0;
    width: 8px;
    height: 8px;
  }

  .mouse .arrow:nth-child(1) {
    top: 56px;
    -webkit-animation: arrowone 2s infinite;
    animation: arrowone 2s infinite;
  }

  .mouse .arrow:nth-child(2) {
    top: 68px;
    -webkit-animation: arrowtwo 2s infinite;
    animation: arrowtwo 2s infinite;
  }

  .mouse .arrow:nth-child(3) {
    top: 80px;
    -webkit-animation: arrowthree 2s infinite;
    animation: arrowthree 2s infinite;
  }

  @-webkit-keyframes arrowone {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    65% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes arrowone {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    65% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrowtwo {
    0% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes arrowtwo {
    0% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrowthree {
    0% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    85% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes arrowthree {
    0% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    85% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  /* LOGO */

  .still-text {
    color: #95827c;
    font-family: 'milyunaregular';
    font-size: 50px;
  }

  .texts-container {
    display: inline-block;
    height: 50px;
    overflow: hidden;
    color: #e7b2a1;
    max-width: 46em;
  }

  .texts-container span {
    display: block;
    -webkit-animation: moveUp 8s infinite;
    animation: moveUp 8s infinite;
  }

  /* @-webkit-keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-26%);
  }

  50% {
    transform: translateY(-51%);
  }

  75% {
    transform: translateY(-76%);
  }

  100% {
    transform: translateY(0);
  }
} */

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-28%);
    }

    50% {
      transform: translateY(-52%);
    }

    75% {
      transform: translateY(-78%);
    }

    100% {
      transform: translateY(0);
    }
  }

  /* SEMANTIC GRID SYSTEM */

  .row>.column {
    margin-bottom: 4%;
  }

  @media (min-width: 768px) {

    .row {
      display: flex;
      justify-content: space-between;
    }

    .row>.column {
      flex-grow: 1;
    }

    .row>.column.one-half {
      max-width: 46%;
    }

    .row>.column.one-third {
      max-width: 29.3333%;
    }

    .row>.column.two-thirds {
      max-width: 62.6666%;
    }

    .row>.column.one-fourth {
      max-width: 21%;
    }

    .row>.column.centered {
      margin-left: auto;
      margin-right: auto;
    }

  }

  /* a:focus {
    outline: 2px dashed white;
  } */
}

/* PEACE EMOJI */
.peaceemoji {
  display: inline-block;
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

/* VIDEO ON HOVER */

figure {
  display: inline-block;
}

figure:hover > img,
figure:not(:hover) > video {
  display: none;
}
